<div *ngIf="searchItem$ | async as searchItem" class="search-item">
  <div class="action-btn"
    (click)="goBack()"
  ></div>
  <div class="box-shadow">
    <div class="image-wrapper">
      <a href="https://youtube.com/watch?v={{ id }}" target="_blank"> 
        <button class="btn btn-play-main"></button>
        <img class="main-card-image" [src]="searchItem.snippet.thumbnails.medium.url" [alt]="searchItem.snippet.title">
      </a>
    </div>
    
    <div class="content-wrapper">
      <div class="title-date-wrapper">
        <div class="title">{{searchItem!.snippet.title.split(' ').slice(0, 6).join(" ")}}</div>
        <div class="regular small">{{searchItem!.snippet.publishedAt | date}}</div>
      </div>
      <div class="regular medium"><span class="bold">Description:</span>{{searchItem!.snippet.description.substring(0, 800)}}</div>

      <div class="icons-wrapper">
        <div class="icon-wrapper" title="views">
          <mat-icon fontIcon="visibility"></mat-icon>
          <div>{{ searchItem.statistics.viewCount }}</div>
        </div>
        <div class="icon-wrapper" title="likes">
          <mat-icon fontIcon="thumb_up"></mat-icon>
          <div>{{ searchItem.statistics.likeCount }}</div>
        </div>
        <div class="icon-wrapper" title="comments">
          <mat-icon fontIcon="forum"></mat-icon>
          <div>{{ searchItem.statistics.commentCount }}</div>
        </div>
        <div class="icon-wrapper" title="duration">
          <mat-icon fontIcon="timer"></mat-icon>
          <div>{{ searchItem.contentDetails?.duration }}</div>
        </div>
      </div>
      <div
        class="ageBar"
        appShowAge
        [dateOfPublishing]="searchItem.snippet.publishedAt">
      </div>
    </div>
  </div>
</div>

