<mat-card *ngIf="searchItem" class="search-item">
  <img class="main-card-image" [src]="searchItem.snippet.thumbnails.medium.url" [alt]="searchItem.snippet.title">
  <div class="icons-wrapper">
    <div title="views">
      <mat-icon fontIcon="visibility"></mat-icon>
      <div>{{ searchItem.statistics.viewCount }}</div>
    </div>
    <div title="likes">
      <mat-icon fontIcon="thumb_up"></mat-icon>
      <div>{{ searchItem.statistics.likeCount }}</div>
    </div>
    <div title="comments">
      <mat-icon fontIcon="forum"></mat-icon>
      <div>{{ searchItem.statistics.commentCount }}</div>
    </div>
  </div>
  <mat-card-title>{{searchItem!.snippet.title.split(' ').slice(0, 6).join(" ")}}</mat-card-title>
  <button class="action-btn"
    (click)="renderDetails(searchItem.id)"
  >more...</button>

  <mat-card-footer>
    <div
      class="ageBar"
      appShowAge
      [dateOfPublishing]="searchItem.snippet.publishedAt">
    </div>
  </mat-card-footer>
</mat-card>
